# frozen_string_literal: true

<% module_namespacing do -%>
class <%= namespaced_class_name %> < Sbmt::KafkaProducer::BaseProducer
  option :topic, default: -> { 'topic' }

  def publish(payload, **options) # options - optional
    async_publish(payload, options)
  end
end
<% end -%>
